*{
    font-family: Helvetica, sans-serif;
}

h1{
    font-weight: 900;
    text-align: center;
}

img{
    margin: auto;
    display: block;
}

li{
    line-height: 1.5em;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    font-weight: bold;
}

button{
    font-weight: 500;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 4px;
    display: block;
    margin: auto;
}

.ingredients{
    color: brown;
}

.steps{
    color:indigo;
}

.recipe{
    background-color: black;
    color: white;
    padding: 12px;
}

.odinrecipes{
    display: block;
    text-align: center;
    margin-bottom: 4px;
}